#image{
    width:9rem;
    height:9rem;
    border-radius: 50%;
    box-sizing: border-box;
}
#p_Name{
    font-size: 1.3em;
    color: black;
}

#p_Email{
    font-size: 0.9em;
    color: gray;
    margin-bottom: 0.2rem;
}

#p_Phone{
    font-size: 0.9em;
    color: gray;
    margin-bottom: 0.2rem;
}

#p_Address{
    font-size: 1em;
    color: gray;
    margin-bottom: 0.2rem;
}

span:hover{
    cursor: pointer;
}